#=========================================================================================#
#===  bmilcs: aliases  ===================================================================#
#=========================================================================================#

#---------------------------------  archlinux specific  ----------------------------------#
# packages | pacman | yay
alias pacman="sudo pacman"
compdef pacman="pacman"
alias pm="pacman"
compdef pm="pacman"
alias up="pm -Syyuu ; yay -Syyuu"
alias pmls="pacman -Qe | less"
alias pmg="pacman -Qe|grep"

# enforce vim
alias nano="vim"
compdef nano="vim"

# mount | umount
alias mount="sudo mount"
alias umount="sudo umount"

# git
alias gitp="gita ~/snippets/* ; gitt commit -a -m 'update' && gitt push"
compdef gitp="git"
alias gitt="/usr/bin/git --git-dir=$HOME/.git/ --work-tree=$HOME"
compdef gitt="git"
alias readme="vim ~/README.md"
alias pad="vim ~/NOTES.md"

# configs
alias gaps="vim ~/.config/i3/config"
alias bsp="vim ~/.config/bspwm/bspwmrc"
alias keys="vim ~/.config/sxhkd/sxhkdrc"
alias poly="vim ~/.config/polybar/bspwm.conf"
alias ali="vim ~/.aliases"
alias fun="vim ~/.functions"
alias vimrc="vim ~/.vimrc"

# zsh
alias zshrcr="source ~/.zshrc"
alias zshrc="vim ~/.zshrc"

# logout
alias rex="sudo systemctl restart display-manager"

# wallpaper
alias fehbg="feh -g 640x480 -d -S filename ~/wallpapers"

# save dir to notes
alias sdir="echo $PWD >> ~/notes"
alias onotes="vim ~/notes"

# reboot, shutdown, etc.
alias reboot="sudo systemctl reboot"
alias shutdown="sudo systemctl poweroff"
alias halt="sudo systemctl halt"
#---------------------------------  directories & files  ---------------------------------#
alias ls="ls --color -lhF --group-directories-first"
compdef ls="ls"
alias l="ls"
compdef l="ls"
alias ll="ls -nA" #long, all, # puid
compdef ll="ls"
alias lll="ls -A" # long, all, abc puid
compdef lll="ls"
alias lsf="ls | grep -v '^d'"	#ls files,,
alias lsd="ls -ld */"   # ls, long, dir
alias lsg="ls | grep" #search in dir
alias mv="mv -i" #confirmation
alias cp="cp -i" #confirmation
alias ln="ln -i" #confirmation
alias grep="grep --color=auto"			# color
alias wget="wget -c"								# autoresume

#---------------------------------  file/dir navigation  ---------------------------------#
alias c="clear"
alias bm="su bmilcs"	# only while root
alias rt="sudo -s"
alias rd="cd / && c && l"
alias h="cd ~ && c && l"
alias d="cd ~/docker && c && l"
alias ..="cd ..&& c && l"
alias ...="cd ../.. && c && l"
alias ....="cd ../../.. && c && l"
alias syslogg="sudo cat /var/log/syslog | grep "
alias syslogls="sudo cat /var/log/syslog" 
alias pid="cat /etc/passwd"
alias ip="ip -color=auto"

#---------------------------------------  services  ---------------------------------------#
alias svls="sudo systemctl list-units --type=service --all"
alias svlsa="sudo systemctl list-units --type=service"
alias svg="sudo systemctl list-units --type=service --all | grep"
alias svstart="sudo systemctl start"
alias svr="sudo systemctl status"
alias svstop="sudo systemctl stop"
#--------------------------------------  debian os  --------------------------------------#
alias ideb="sudo /bin/bash ~/.bmilcs/script/debian.sh"

#------------------------------  rsnapshot backup scripting  ------------------------------#
alias ibak="upp ; sudo /bin/bash ~/.bmilcs/script/backup.sh install $USER ; source ~/.bashrc"
alias ibakls="sudo cat /etc/rsnapshot.conf | grep ^backup"
alias ibakadd="sudo /bin/bash ~/.bmilcs/script/backup.sh add"
alias rsnap="sudo vim /etc/rsnapshot.conf"

#-------------------------------------  github repo  -------------------------------------#
alias a="alias | sed 's/=.*//'"
alias func="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'

#-------------------------------------  file sharing  -------------------------------------#
alias nfs="sudo vim /etc/exports"
alias nfsr="sudo systemctl restart nfs-kernel-server"
alias fstab="sudo vim /etc/fstab"
alias fstest="sudo findmnt --verify --verbose"
alias mine="/opt/minecraft/tools/mcrcon/mcrcon -H 127.0.0.1 -P 25575 -p nFkA_vKG8FTP2v@K9YdPA6utw -t"
alias infs='
	sudo apt install nfs-kernel-server 
	echo && echo "====================================================================================================="
	echo "====  bmilcs: nfs instructions  ====================================================================="  && necho "=====================================================================================================" && echo
	echo "sudo vim /etc/exports"
	echo "#path/to/dir          10.0.0.0/8(ro,sync)\"
	echo "-----------------------------------------------------------------------------------------------------"'
alias ismb='
	sudo apt install samba
	echo && echo "====================================================================================================="
	echo "====  bmilcs: samba instructions  ==================================================================="
	echo "=====================================================================================================" && echo
	echo "sudo vim /etc/samba/smb.conf"
	echo "#       workgroup = BM"
	echo "#       interfaces = 192.168.1.0/24 eth0"
	echo "#       hosts allow = 127.0.0.1/8 192.168.1.0/24"
	echo "# [docker]"
	echo "#         comment = docker vm config files"
	echo "#         path = /home/bmilcs/docker"
	echo "#         browseable = yes"
	echo "#         read only = no"
	echo "#         guest ok = no"
	echo "#         valid users = bmilcs"
	echo "-----------------------------------------------------------------------------------------------------"		'
alias smb='sudo vim /etc/samba/smb.conf'
#----  network  ----------------------------------------------------------------------------------------

#----  github  -----------------------------------------------------------------------------------------
alias gitkeys='
	git config --global user.name bmilcs
	git config --global user.email bmilcs@yahoo.com
	git config --global color.ui auto
	mkdir -m 700 -p ~/.ssh
	curl -s https://github.com/bmilcs.keys >> ~/.ssh/authorized_keys
  chmod 600 ~/.ssh/authorized_keys
	eval "$(ssh-agent -s)"
	echo "> enter github private key as follows:"
	echo "  ssh-add ~/.ssh/id_github"'
alias rnet="sudo /etc/init.d/networking restart"
alias enet="sudo vim /etc/network/interfaces"
#----  bmilcs docker  ----------------------------------------------------------------------------------
# remove unused: containers | vol | networks | etc
alias drmu='docker system prune -a'
# remove all containers
alias drmc='docker rm $(docker ps -a -q)'
# remove all images
alias drmi='docker rmi $(docker images -a -q)'
# stop all containres
alias dstop='docker stop $(docker ps -a -q)'
# clean up docker system
alias dcln='docker image prune -a ; docker container prune ; docker volume prune ; docker network prune'
# remove nfs share volumes
alias dvol='
	volz="audiobooks cloud dl movies music plexlog podcasts tv"
	for vz in $volz
	do
		docker volume rm docker_${vz}
	done
	'
# remove: containers | volumes
alias dnew="dstop;drmc;dvol;"
# nuke all
alias dnuke="dstop;drmc;dvol;drmi"
# docker logs
alias dclog='docker-compose -f ~/docker/docker-compose.yaml logs -tf --tail="50"'
# alias dcr='cd /tmp && rm -rf /tmp/docker && git clone git@github.com:bmilcs/docker.git /tmp/docker && cd /tmp/docker && rm -f ~/docker/docker-compose.yaml ~/docker/.env && cp 1docker-compose.yaml .env ~/docker/ && cd ~/docker && mv 1docker-compose.yaml docker-compose.yaml &&  docker-compose up -d --remove-orphans'
alias dcs="docker-compose stop"
alias dcre="docker-compose restart"
alias dcd="docker-compose down"
# list all dockers
alias dps='docker ps -a --format "table {{.ID}}\t{{.Names}}\t{{.Status}}\t{{.Ports}}" | (read -r; printf "%s\n" "$REPLY"; sort -k 2  )'
alias dnet='docker network ls'
# letsencrypt restart
alias le="docker restart swag && docker logs -f swag"
alias swag="docker restart swag && docker logs -f swag"
#----  docker  -----------------------------------------------------------------------------------------
alias ddf='docker system df'
