!.vim/**
*.log
log/
log
opt/mpd/.config/mpd/database
opt/mpd/.config/mpd/pid
opt/mpd/.config/mpd/sticker.sql
zsh/.zsh/completion/_git
zsh/.zsh/completion/git-completion.bash
.netrwhist
neomutt
.zcompdump
_docker-compose
bin/bin/pipes
opt/i3/.config/i3/config.bak
vim/.config/nvim/autoload/
vim/.config/nvim/cache/
vim/.config/nvim/plugged/
vim/.config/nvim/undo/
bin/bin/fet
