!.vim/**
*.log
log/
log
opt/mpd/.config/mpd/database
opt/mpd/.config/mpd/pid
opt/mpd/.config/mpd/sticker.sql
zsh/.zsh/completion/_git
zsh/.zsh/completion/git-completion.bash
.netrwhist
neomutt
.zcompdump

_docker-compose
