!.vim/**
*.log
log/
log
opt/mpd/.config/mpd/database
opt/mpd/.config/mpd/pid
opt/mpd/.config/mpd/sticker.sql
zsh/.zsh/completion/_git
zsh/.zsh/completion/git-completion.bash
.netrwhist
neomutt
.zcompdump
_docker-compose
bin/bin/pipes
opt/i3/.config/i3/config.bak
vim/.config/nvim/autoload/
vim/.config/nvim/cache/
vim/.config/nvim/plugged/
vim/.config/nvim/undo/
root/workstation/usr/share/fonts/TTF/JetBrainsMono/.uuid
zsh/.config/ranger/sdir
zsh/.config/ranger/plugins/__pycache__/__init__.cpython-37.opt-1.pyc
zsh/.config/ranger/plugins/__pycache__/archives_utils.cpython-37.opt-1.pyc
zsh/.config/ranger/plugins/__pycache__/compress.cpython-37.opt-1.pyc
zsh/.config/ranger/plugins/__pycache__/extract.cpython-37.opt-1.pyc
bin/bin/priv/
