! Base16 Nord
! Scheme: arcticicestudio

!	Normal      Bright
!	--------    -------
!	0 Black      8 Black
!	1 Red        9 Red
!	2 Yellow    10 Yellow
!	3 Green     11 Green
!	4 Blue      12 Blue
!	5 Magenta   13 Magenta
!	6 Cyan      14 Cyan
!	7 White     15 White


#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord6
!*fading: 25
!*fadeColor: nord3

! black
*.color0: nord1
*.color8: nord3
! red
*.color1: nord11
*.color9: nord11
! yellow
*.color2: nord14
*.color10: nord14
! green
*.color3: nord13
*.color11: nord13
! blue
*.color4: nord9
*.color12: nord8
! magenta
*.color5: nord15
*.color13: nord15
! cyan
*.color6: nord8
*.color14: nord7
! white
*.color7: nord5
*.color15: nord6

urxvt*depth: 32
URxvt.background:             [88]#2e3440
URxvt*termName:								rxvt-unicode-256color
URxvt*loginShell:							true
URxvt*scrollBar:							false
URxvt.scrollStyle:						plain
URxvt.secondaryScroll:				true
URxvt.urgentOnBell:						true
URxvt.letterSpace:            -1
URxvt.lineSpace:              -1 
URxvt.geometry:               92x24
URxvt.internalBorder:					12
URxvt*cursorBlink:						true
URxvt*scrollTtyOutput:				false
URxvt*scrollWithBuffer:				true
URxvt*scrollTtyKeypress:			true
URxvt*saveLines:							16384
URxvt*colorUL:								yellow
Xft.antialias:								true
Xft.autohint:									false
Xft.hinting:									true
Xft.hintstyle:								hintslight
Xft.dpi:											96
Xft.rgba:											rgb
Xft.lcdfilter:								lcdlight

urxvt*font:                   xft:Hack:size=10
urxvt*boldFont:               xft:Hack-Bold:size=10
! URxvt.font:               
! URxvt.boldFont:            
! URxvt.font: 								xft:Iosevka Term:size=12:antialias=true
! URxvt.boldFont: 						xft:Iosevka Term:bold:size=12:antialias=true
! URxvt.font:     							-*-terminus-medium-*-normal-*-14-140-72-72-*-*-*-*
! URxvt.boldFont:								-*-terminus-bold-*-normal-*-14-140-72-72-*-*-*-*
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.perl-ext-common: default,clipboard,keyboard-select
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! disable annoying ISO/screen capture shift/ctrl issue
URxvt.iso14755: false
URxvt.iso14755_52: false

! URxvt.transparent: true
! URxvt.shading:20
